{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
    <h1>Events index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>StartTime</th>
                <th>Capacity</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Url</th>
                <th>Type</th>
                <th>Venue</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>Images</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startTime ? event.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.email }}</td>
                <td>{{ event.phoneNumber }}</td>
                <td>{{ event.url }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.venue }}</td>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.deletedAt ? event.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.images }}</td>
                <td>
                    <a href="{{ path('events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('events_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('events_new') }}">Create new</a>
{% endblock %}
